
<ul class="row nav pb-4">
    <div class="col-6 col-sm-12">
        <li class="nav-item pt-1"><h5>@Resources.Global.Category</h5></li>
        @foreach (ECommerce.Models.Categorys categorys in Enum.GetValues(typeof(ECommerce.Models.Categorys)))
        {
            <div class="ml-3">
                @Html.ActionLink(categorys.ToString(), "Index", "Products", new { id = categorys.ToString(), type = "category" }, new { @class = "nav-link" })
            </div>
        }
    </div>
    <div class="col-6 col-sm-12">
        <li class="nav-item pt-3"><h5>@Resources.Global.Colour</h5></li>
        @foreach (ECommerce.Models.Colors colors in Enum.GetValues(typeof(ECommerce.Models.Colors)))
        {
            <div class="row align-items-center ml-3">
                <i class="fas fa-circle" style="color: @colors"></i>
                @Html.ActionLink(colors.ToString(), "Index", "Products", new { id = colors.ToString(), type = "color" }, new { @class = "nav-link" })
            </div>
        }
    </div>
</ul>



