<div class="container">
    <h3>Contact us</h3>

    <div class="accordion mt-5" id="accordionExample">


        <div class="card">
            <div class="card-header pointer" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn" type="button">
                        ABOUT US
                    </button>
                </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                <div class="card-body">
                    When you shop at @Resources.Global.APP_NAME you’re shopping pieces from luxury brands and boutiques around the globe, expertly curated for you by the @Resources.Global.APP_NAME team. Our brand and boutique partners are located everywhere from Tokyo to Toronto, from Milan to Miami – we only work with the very best in the business. This unique model guarantees you a huge range of pieces to shop, from established luxury brands to the most interesting new designers. Within that range you'll find unique styles that you simply won’t find anywhere else. We express ship from our partners to over 190 countries worldwide so you’ll receive your order before you know it.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header pointer" id="headingTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn" type="button">
                        HOW TO FIND PRODUCTS
                    </button>
                </h2>
            </div>

            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                <div class="card-body">
                    At @Resources.Global.APP_NAME you can shop in multiple ways. The easiest way is to browse using the drop-down navigation menus at the top of the page, where you can find links to new products, designers, departments and our edits. If you know what you are looking for, use the search box at the top right.
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-header pointer" id="headingThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseOne">
                <h2 class="mb-0">
                    <button class="btn" type="button">
                        HOW TO ORDER & PAY
                    </button>
                </h2>
            </div>

            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                <div class="card-body">
                    When you find an item you wish to purchase, simply select your size (there is a size guide for every item) and the quantity, then click ‘Add to bag’. You can continue shopping and add more items to your bag, or you can proceed to checkout.

                    Our checkout process is quick and straightforward. You can either create an account or proceed using our guest checkout. No matter how many items you have in your shopping bag or how many @Resources.Global.APP_NAME partners they are sourced from, you only need to check out once. We ship worldwide via DHL, with services from UPS in selected countries. Please choose your shipping preference for each @Resources.Global.APP_NAME partner you have ordered from, then proceed to payment and select your payment method. We accept all major credit and debit cards, as well as PayPal.

                    Once you have placed your order you will receive an e-mail acknowledgement before we initiate our validation process. Your order will then be shipped directly to you.

                    Please note: when opting for guest checkout remember to refer to your emails for further details about your order.
                </div>
            </div>
        </div>




    </div>
</div>